body {background-color: blue;}

/*Added placeholders for list examples*/
#btn1 {
    top: 330px;
    position: relative;
}
    
#btn2 {
    bottom: 225px;
    position: relative;
}

#btn3 {
    top: 80px;
    position: relative;
}

#btn4 {
    bottom: 350px;
    position: relative;
}

#btn5 {
    top: 85px;
    position: relative;
}

#btn6 {
    top: 20px;
    position: relative;
}

/*Edited navigation icon positions and size*/
#home {
    top: 500px;
    position: relative;
    left: 120px;
    
}

#diary {
    top: 500px;
    position: relative;
    left: 135px;
}

#calories {
    width: 35px;
    top: 500px ;
    position: relative;
    left: 145px;
}

/*Changed background colour to blue*/
ion-content{
    --ion-background-color:rgb(35, 35, 252);
}

/*Edited card colour to white*/
#card {
    --ion-color: white;
}

/*Edited meal section text positions and font to bold*/
#breakfast {
font-weight: bold;
top: 25px;
left: 10px;
position: relative;
}

#lunch {
    font-weight: bold;
    top: 235px;
    left: 10px;
    position: relative;
}


/*Edited arrow icon positions for list dropdown example*/
#arrow {
    top: 140px;
    left: 350px;
    position: relative;
    z-index: 1000;
}

#arrow2 {
   z-index: 1000;
   bottom: 55px;
   position: relative;
   left: 350px;
}

/*Edited total calorie counter position*/
#total {
    top: 100px;
    position: relative;
}