body {background-color: blue;}
#btn1 {
    float: right;
    top: 63px;
    position: relative;
}
#btn2 {
    
}

#btn3 {
    top: 100px;
    position: relative;
}

#home {
    top: 500px;
    position: relative;
    left: 120px;
    
}

#diary {
    top: 500px;
    position: relative;
    left: 135px;
}

#calories {
    width: 35px;
    top: 500px ;
    position: relative;
    left: 145px;
}

ion-content{
    --ion-background-color:rgb(35, 35, 252);
}

#card {
    --ion-color: white;
}