body {background-color: blue;}


/*Changed application's background colour to blue*/
ion-content{
    --ion-background-color:rgb(35, 35, 252);
}

/*Edited card colour to white*/
#card {
    --ion-color: white;
}

/*Changed health img size and position*/
#Health {
    width: 250px;
    position: relative;
    left: 25px;
}


    


